# Eclipse stuff
/.classpath
/.project
/.settings

# Build stuff
/bin

#Javadoc
/doc

#Libraries
/lib/*
!/lib/plugins
!/lib/jsoup-1.6.2.jar

#Backups
/beta1.1_backup
/Beta1.2_backup
/src_1.3_old

#Testserver
/server

/src/img
/src/org/efreak/bukkitmanager/tutorials
/src/org/efreak/bukkitmanager/scoreboards
/src/org/efreak/bukkitmanager/pluginmanager/updater_new