# Eclipse stuff
/.classpath
/.project
/.settings

# Build stuff
/bin

# Librarys
/lib

#Backups
/Alpha1.6

# Unfinished Stuff
/src/img
/src/org/efreak1996/Bukkitmanager/Addon
/src/org/efreak1996/Bukkitmanager/SQL
/src/org/efreak1996/Bukkitmanager/Webinterface
/src/org/efreak1996/Bukkitmanager/Webserver
/src/org/efreak1996/Bukkitmanager/lang
/src/org/efreak1996/Bukkitmanager/Spout
/src/org/efreak1996/Bukkitmanager/Swing/Remote
/src/org/efreak1996/Bukkitmanager/Bukkitmanager.java
/src/org/efreak1996/Bukkitmanager/Listener/Spout
